[core]
    editor = vim
    ignorecase = false

[color]
    diff = auto
    status = auto
    branch = auto
    blame = auto
    ui = auto
    grep = auto

[difftool]
    prompt = false

[alias]
    co = checkout
    st = status -suno
    br = branch
    hist = log --graph --format='%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    rb = rebase --committer-date-is-author-date --rebase-merges -i
    d = diff
    dc = diff --cached
    s = show
    h = hist

[safe]
    directory = /home/openfoam
