# Compilation files
*.o
*.dep
darwin*
linux*
lnInclude*

# Programs files
*.swp

# Backup files
*~

# Run files
log*
dynamicCode
polyMesh
boundary
postProcessing
processor*
[1-9]*
0.[0-9]*
*.gz
*.foam
*.msh

# Results files
*.vtk
*.log
*.dat

# Graphics
*.pdf
*.eps

# Simulation directories
_*

# Specific files
run/singleTrackPrinting/0/alpha.metal
