[user]
    name = Oleg Rogozin
    email = o.a.rogozin@gmail.com

[core]
    editor = vim

[color]
    diff = auto
    status = auto
    branch = auto
    blame = auto
    ui = auto
    grep = auto

[difftool]
    prompt = false

[alias]
    d = diff
    co = checkout
    up = !git submodule update --init --recursive
    st = status -suno
    br = branch
    hist = log --graph --format='%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'

