# Compilation files
*.o
*.dep
darwin*
linux*
lnInclude*

# Programs files
*.swp

# Backup files
*~

# Run files
log*
dynamicCode
polyMesh
boundary
postProcessing
[1-9]*
0.[0-9]*
*.gz
*.foam

# Results files
*.vtk
*.log
*.dat

# Graphics
*.pdf
*.eps

# Simulation directories
_*
