# Compilation files
*.o
*.dep
darwin*
linux*
lnInclude*
*.pdf

# Programs files
*.swp

# Backup files
*~

# Run files
log*
dynamicCode
polyMesh
boundary
[1-9]*
0.*
*.gz
*.foam

# Results files
*.vtk
*.txt

# Simulation directories
_*
